permissions:
  contents: write

on:
  schedule:
    - cron: "0 20 * * *"
  workflow_dispatch:

jobs:
  merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - run: |
          sudo curl -L https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -o /usr/local/bin/yq
          sudo chmod +x /usr/local/bin/yq

      - run: |
          rm -rf clash/rules/{source,merged}
          mkdir -p clash/rules/{source,merged}

      - run: |
          yq -r '.rules[] | .name + " " + (.remote[]? // "")' clash/rules/manifest.yml \
          | xargs -n 2 -P 10 sh -c 'mkdir -p clash/rules/source/$1; curl -L "$2" -o clash/rules/source/$1/${2##*/}' sh

      - run: |
          for d in clash/rules/source/*; do
            echo "payload:" > "clash/rules/merged/${d##*/}.yaml"

            yq -r ".rules[] | select(.name == \"${d##*/}\") | .local[]? // \"\"" clash/rules/manifest.yml \
              | sed 's/^/  - /' \
              >> "clash/rules/merged/${d##*/}.yaml"

            yq eval-all '.payload[]' "$d"/*.yaml \
              | grep -v '^---$' \
              | sort -u \
              | sed 's/^/  - /' \
              >> "clash/rules/merged/${d##*/}.yaml"
          done

      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Updated on $(TZ=Asia/Shanghai date '+%F at %T')"
          git push
