permissions:
  contents: write

on:
  schedule:
    - cron: "0 20 * * *"
  workflow_dispatch:

jobs:
  merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - run: |
          sudo curl -L https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -o /usr/local/bin/yq
          sudo chmod +x /usr/local/bin/yq

      - run: |
          rm -rf quantumultx/rules/{source,merged}
          mkdir -p quantumultx/rules/{source,merged}

      - run: |
          yq -r '.rules[] | .name + " " + (.remote[]? // "")' quantumultx/rules/manifest.yml \
          | xargs -n 2 -P 10 sh -c 'mkdir -p quantumultx/rules/source/$1; curl -L "$2" -o quantumultx/rules/source/$1/${2##*/}' sh

      - run: |
          for d in quantumultx/rules/source/*; do
            output_file="quantumultx/rules/merged/${d##*/}.list"
            > "$output_file"

            yq -r ".rules[] | select(.name == \"${d##*/}\") | .local[]? // \"\"" quantumultx/rules/manifest.yml \
              | grep -v '^$' \
              >> "$output_file"

            { grep -hvE '^(#|$)' "$d"/*.list || true; } \
              | sort -u \
              >> "$output_file"
          done

      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Updated on $(TZ=Asia/Shanghai date '+%F at %T')" || true
          git push
